@use "global" as *;

.inicio {

    section {
        justify-content: center;
        align-items: center;
        display: flex;

        div {
            display: block;
            text-align: center;

            p:first-child {
                font-size: $typography-tamanio-h2;
                font-family: $typography-fonts-family-1;
                padding-top: $padding-top-content-p;
            }

            p:nth-child(2) {
                font-family: $typography-fonts-family-2;
                font-size: $typography-tamanio-h1;
                padding-top: $padding-top-content-p2;
            }

            p:nth-child(3) {
                font-family: $typography-fonts-family-1;
                font-size: $typography-tamanio-h2;
                padding-top: $padding-top-content-p2;
                font-weight: $typography-peso-bold;
            }

            p:nth-child(4) {
                font-family: $typography-fonts-family-1;
                font-size: $typography-tamanio-paragraph;
                padding-top: $padding-top-content-p;
                width: $width-index-p4;
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    margin-bottom: $margin-top-botton-buttons;
                    margin-top: $margin-top-botton-buttons;
                    margin-right: $margin-right-buttons;
                    margin-left: $margin-left-buttons;

                    button {
                        font-family: $typography-fonts-family-1;
                        background-color: $color-black;
                        width: $width-buttons;
                        height: $height-buttons;
                        border: none;
                        color: $typography-colors-white;
                        font-weight: $typography-peso-bold;
    
                        &:hover {
                            background-color: $color-blue;
                            color: $color-black;
                        }
                    }

                }
              
            }
        }

    }

}