@use "global" as *;

.inicio {
    

    section {
        justify-content: center;
        align-items: center;
        display: flex;

        div {
            display: block;
            text-align: center;

            p:first-child {
                font-size: $typography-tamanio-h2;
                font-family: $typography-fonts-family-1;
                padding-top: $padding-top-content-p;

                @include respond-to("small") {
                    font-size: $typography-tamanio-h3;
                }

                @include respond-to("narrow") {
                    font-size: $typography-tamanio-h4;
                }
            }

            p:nth-child(2) {
                font-family: $typography-fonts-family-2;
                font-size: $typography-tamanio-h1;
                padding-top: $padding-top-content-p2;

                @include respond-to("small") {
                    font-size: $typography-tamanio-h2;
                }

                @include respond-to("narrow") {
                    font-size: $typography-tamanio-h3;
                }
            }

            p:nth-child(3) {
                font-family: $typography-fonts-family-1;
                font-size: $typography-tamanio-h2;
                padding-top: $padding-top-content-p2;
                font-weight: $typography-peso-bold;

                @include respond-to("small") {
                    font-size: $typography-tamanio-h3;
                }

                @include respond-to("narrow") {
                    font-size: $typography-tamanio-h4;
                }
            }

            p:nth-child(4) {
                font-family: $typography-fonts-family-1;
                font-size: $typography-tamanio-paragraph;
                padding-top: $padding-top-content-p;
                width: $width-index-p4;

                @include respond-to("medium") {
                    font-size: $typography-tamanio-paragraph;
                    width: $width-index-p4-medium;
                }

                @include respond-to("small") {
                    font-size: $typography-tamanio-small;
                    width: $width-index-p4-small;
                }

                @include respond-to("narrow") {
                    font-size: $typography-tamanio-small;
                    width: $width-index-p4-narrow;
                }
            }

            div {
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    margin-bottom: $margin-top-botton-buttons;
                    margin-top: $margin-top-botton-buttons;
                    margin-right: $margin-right-buttons;
                    margin-left: $margin-left-buttons;

                    button {
                        font-family: $typography-fonts-family-1;
                        background-color: $color-black;
                        width: $width-buttons;
                        height: $height-buttons;
                        border: none;
                        color: $typography-colors-white;
                        font-weight: $typography-peso-bold;
    
                        &:hover {
                            background-color: $color-blue;
                            color: $color-black;
                        }
                    }

                }
              
            }
        }

    }

}

.about {
    font-family: $typography-fonts-family-1;

    section {

        div:first-child {
            display: flex;

            article {   
                display: block;

                div:first-child {

                    p {
                        font-size: $typography-tamanio-h1;
                        font-family: $typography-fonts-family-2;
                        margin-top: $margin-top-article-p1;
                        margin-bottom: 0;

                        @include respond-to("medium"){
                            font-size: $typography-tamanio-h1;
                            display: flex;
                            justify-content: center;
                        }

                        @include respond-to("small"){
                            font-size: $typography-tamanio-h2;
                        }

                    }
                }

                div:nth-child(2) {
                    p {
                        font-size: $typography-tamanio-paragraph;
                        width: $width-paragraph-article;
                        margin-top: $margin-top-article-p2;
                    }
                }

                div:nth-child(3) {
                    margin-top: $margin-top-article-p3;

                    p {
                        font-size: $typography-tamanio-h3;
                        margin-bottom: $margin-bottom-article-p3;
                        float: left;

                        @include respond-to("medium") {
                            display: flex;
                            float: none;
                            justify-content: center;
                        }
                    }
                    
                    hr {
                        width: $width-hr-about;
                        height: $height-hr;
                        background-color: $color-blue;
                        margin: 0; 
                    
                        @include respond-to("medium") {
                            width: $width-hr-about-medium;
                            margin: 0 auto; 
                        }
                    
                        @include respond-to("small") {
                            width: $width-hr-about-small; 
                        }

                        @include respond-to("narrow") {
                            width: $width-hr-about-narrow; 
                        }
                    }

                    div {         
                        display: flex;

                            img {
                                padding-right: $padding-right-images-about;

                                @include respond-to("medium") {
                                    padding-right: $padding-right-images-about-medium;
                                    margin: 0 auto; 
                                    display: block; 
                                }
                                
                                @include respond-to("small") {
                                    padding-right: $padding-right-images-about-small;
                                }

                                @include respond-to("narrow") {
                                    padding-right: $padding-right-images-about-small;
                                    height: $height-img-about-narrow;
                                    width: $width-img-about-narrow;
                                }
                            }

                    }
                }

            }

            .puntos-fuertes {
                display: block;               
                padding-right: $padding-right-puntosfuertes;
                margin-top: $margin-top-puntosfuertes;

                p:first-child {
                    display: flex;
                    font-size: $typography-tamanio-h3;
                    justify-content: center;
                }

                li {
                    margin-bottom: $margin-botton-li;
                    font-size: $typography-tamanio-paragraph;
                    margin-left: $margin-left-li;
                }

            }

            @include respond-to("medium") {
                display: block;
            }

            @include respond-to("small") {
                display: block;
            }

        }

        div:nth-child(2) {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                margin-bottom: $margin-top-botton-buttons;
                margin-top: $margin-top-botton-buttons;
                margin-right: $margin-right-buttons;
                margin-left: $margin-left-buttons;

                button {
                    font-family: $typography-fonts-family-1;
                    background-color: $color-black;
                    width: $width-buttons;
                    height: $height-buttons;
                    border: none;
                    color: $typography-colors-white;
                    font-weight: $typography-peso-bold;

                    &:hover {
                        background-color: $color-blue;
                        color: $color-black;
                    }
                }

            }
          
        }

    }
}

.proyects {
    margin-bottom: $margin-bottom-proyects;

    section {
        margin-bottom: $margin-bottom-proyects-section;
        font-family: $typography-fonts-family-1;

        div {
            margin-top: $margin-top-proyects-section-div;
            display: flex;
            justify-content: center;

            div:nth-child(2) {
                display: block;
                margin-left: $margin-left-proyects-div-2;

                h3 {
                    font-size: $typography-tamanio-h3;
                    margin-top: $margin-top-h3-proyects;
                }
                
                p {
                    width: $width-p-proyects;
                    margin: 0 auto; 
                    text-align: center; 
                    font-size: $typography-tamanio-paragraph;
                
                    @include respond-to("medium") {
                        width: $width-p-proyects-medium;
                    }
                
                    @include respond-to("small") {
                        width: $width-p-proyects-small;
                    }
                }
                

            }

            @include respond-to("medium") {
                display: block;
                text-align: center;
            }

            @include respond-to("small") {
                display: block;
                text-align: center;
            }

        }

    }

    hr {
        width: $width-hr-proyects;
        height: $height-hr;
        background-color: $color-blue;

        @include respond-to("medium") {
            width: $width-hr-proyects-medium;
            height: $height-hr;
        }

        @include respond-to("small") {
            width: $width-hr-proyects-small;
            height: $height-hr;
        }
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin-bottom: $margin-top-botton-buttons;
            margin-top: $margin-top-botton-buttons;
            margin-right: $margin-right-buttons;
            margin-left: $margin-left-buttons;

            button {
                font-family: $typography-fonts-family-1;
                background-color: $color-black;
                width: $width-buttons;
                height: $height-buttons;
                border: none;
                color: $typography-colors-white;
                font-weight: $typography-peso-bold;

                &:hover {
                    background-color: $color-blue;
                    color: $color-black;
                }
            }

        }
      
    }
}