//Background Colors
    $color-black: #000000;
    $color-blue: #5d83e8;
    $color-blue-medium: #95a4f4;
    $color-blue-soft: #c7d0ff;
    $color-grey: #d6d6d6;
    $color-white: #ffffff;


//Icons Colors
    $icons-black: #000000;


//Typography Colors
    $typography-colors-black: #000000;
    $typography-colors-blue: #5d83e8;
    $typography-colors-blue-medium: #95a4f4;
    $typography-colors-blue-soft: #c7d0ff;
    $typography-colors-white: #ffffff;


//Width and Heights
    $height-icons: 1.875rem;
    $height-header: 80px;
    $height-footer: 90px;
    $height-icons-small: 1.25rem;
    $height-icons-narrow: 0.875rem;
    $height-buttons: 40px;
    $height-hr: 8px;
    $height-img-about-narrow: 60px;

    $width-icons: 1.875rem;
    $width-icons-small: 1.25rem;
    $width-icons-narrow: 0.875rem;
    $width-container: 90%;
    $width-proyects: 70%;
    $width-index-p4: 740px;
    $width-index-p4-narrow: 380px;
    $width-index-p4-small: 460px;
    $width-index-p4-medium: 600px;
    $width-buttons: 110px;
    $width-paragraph-article: 700px;
    $width-img-about-narrow: 60px;
    $width-hr-about: 545px;
    $width-hr-about-medium: 500px;
    $width-hr-about-small: 400px;
    $width-hr-about-narrow: 250px;
    $width-hr-proyects: 1060px;
    $width-hr-proyects-medium: 580px;
    $width-hr-proyects-small: 515px;
    $width-p-proyects: 605px;
    $width-p-proyects-medium: 420px;
    $width-p-proyects-small: 300px;



//Margins and Paddings
    $padding-right-header-a: 26px;
    $padding-right-footer-a: 20px;
    $padding-right-footer-a-small: 10px;
    $padding-top-content-p: 30px;
    $padding-top-content-p2: 0px;
    $padding-right-images-about: 50px;
    $padding-right-images-about-medium: 22px;
    $padding-right-images-about-small: 18px;
    $padding-right-puntosfuertes: 20px;

    $margin-right-buttons: 30px;
    $margin-left-buttons: 30px;
    $margin-top-botton-buttons: 60px;
    $margin-left-hr-about: 0px;
    $margin-bottom-proyects: 20px;
    $margin-bottom-proyects-section: 30px;
    $margin-top-proyects-section-div: 20px;
    $margin-top-h3-proyects: 0px;
    $margin-left-proyects-div-2: 60px;
    $margin-left-li: 30px;
    $margin-botton-li: 80px;
    $margin-top-puntosfuertes: 100px;
    $margin-top-article-p1: 40px;
    $margin-top-article-p2: 20px;
    $margin-top-article-p3: 20px;
    $margin-bottom-article-p3: 20px;
    



//Typography line height
    $typography-interlineado-small: 1.125rem;
    $typography-interlineado-paragraph: 1.5rem;
    $typography-interlineado-h4: 1.75rem;
    $typography-interlineado-h3: 2.75rem;
    $typography-interlineado-h2: 3rem;
    $typography-interlineado-h1: 4.5rem;


//Typography Size
    $typography-tamanio-small: 0.875rem;
    $typography-tamanio-paragraph: 1rem;
    $typography-tamanio-h4: 1.25rem;
    $typography-tamanio-h3: 2rem;
    $typography-tamanio-h2: 2.625rem;
    $typography-tamanio-h1: 4.25rem;


//Typography weight
    $typography-peso-bold: 700;
    $typography-peso-semi-bold: 600;
    $typography-peso-regular: 400;
    $typography-peso-extra-light: 200;

    
//Font Families
    $typography-fonts-family-1: Domine;
    $typography-fonts-family-2: Architects Daughter;

