//Background Colors
    $color-black: #000000;
    $color-blue: #5d83e8;
    $color-blue-medium: #95a4f4;
    $color-blue-soft: #c7d0ff;
    $color-grey: #d6d6d6;
    $color-white: #ffffff;


//Icons Colors
    $icons-black: #000000;


//Typography Colors
    $typography-colors-black: #000000;
    $typography-colors-blue: #5d83e8;
    $typography-colors-blue-medium: #95a4f4;
    $typography-colors-blue-soft: #c7d0ff;
    $typography-colors-white: #ffffff;


//Weights and Heights
    $icons-height: 1.875rem;
    $icons-width: 1.875rem;


//Margins and Paddings



//Typography line height
    $typography-interlineado-small: 1.125rem;
    $typography-interlineado-paragraph: 1.625rem;
    $typography-interlineado-h4: 2rem;
    $typography-interlineado-h3: 2.75rem;
    $typography-interlineado-h2: 3rem;
    $typography-interlineado-h1: 4.5rem;


//Typography Size
    $typography-tamanio-small: 0.875rem;
    $typography-tamanio-paragraph: 1.25rem;
    $typography-tamanio-h4: 1.5rem;
    $typography-tamanio-h3: 2rem;
    $typography-tamanio-h2: 2.625rem;
    $typography-tamanio-h1: 4.25rem;


//Typography weight
    $typography-peso-bold: 700;
    $typography-peso-semi-bold: 600;
    $typography-peso-regular: 400;
    $typography-peso-extra-light: 200;

    
//Font Families
    $typography-fonts-family-1: Domine;
    $typography-fonts-family-2: Architects Daughter;



  